* {
    margin: 0;
    padding: 0;
    font-family: ;
}
.montserrat-monserratfont {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}
* {
    font-family: "Montserrat", sans-serif;
}
body {
    background-color: rgb(15 23 42);
    color: white;
}
.header__nav-ul a {
    color: white;
    text-decoration: none;
}
.header__nav-ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    text-decoration: none;
}

.header {
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.1px);
    padding: 2%;
    background-color: rgb(2 6 23);
}
.hero {
    /*
    background: url("/assets/images/pexels-pixabay-417430.jpg");
    background-size: cover;
    background-repeat: no-repeat; */
    height: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.main__project {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.hero__div {
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: center;
}
.hero__div-content {
    font-size: 5vh;
}
.about__content {
    font-size: 2vh;
}
