* {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(15 23 42);
    color: white;
}
.header__nav-ul a {
    color: white;
    text-decoration: none;
}
.header__nav-ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    text-decoration: none;
}

.header {
    padding: 2%;
    background-color: rgb(2 6 23);
}
