<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title>{{ page.title }} · {{ site.title }}</title>
        <meta
            name="description"
            content="{{ page.description | default: site.description }}"
        />

        <link rel="stylesheet" href="Portfolio/assets/main.css" />
    </head>

    <body>
        {% include header.html %}

        <main class="hero">{{ content }}</main>

        {% include footer.html %}
    </body>
</html>
